    Machine Learning 
    
        Machine --> An apparatus which makes our work easy.
        
        We will make our machine learn by using some algorithms such that 
        machine can predict or it can forcast or it can learn on its own
        
        It improves the performance P of a task T from its experience E

### Applications of ML and AI


    1. Alexa and siri etc
    2. Object recog, face recog, face detection or object detection
    3. Automatic completion
    4. Self driving cars
    5. Recommendation
    6. Health sector
    7. Uber etc
    8. anomly detection
    9. Pharmaceuticals
    10. Forecasting
    11. Stock Market
    12. handwritten character recognition
    13. music indusrty and entertainment industry
    14. Fraud Detection
    15. Gender and Age Prediction 
    16. Sentiment Analysis
    17. Spam and Ham Detection
    18. etc

#### Read any research or blog on ML OR AI

#### Traditional Programming 



            Input 
                              Machine            Output
            
            Program

    
#### Machine Learning 

            Input            
            
                            Machine            Program(model)
            Algorithm
            
            Output

In [1]:
print("hello world")
print("welcome to my world")
print("this is my world of python")

hello world
welcome to my world
this is my world of python

$$ y = \beta_0x + \beta_1 $$

    x --> input
    y --> output
$ \beta_0 $ and $ \beta_1 $ --> constants

### Types of Machine Learning 

    1. Supervised
    2. Unsupervised
    3. Semi-Supervised
    4. Reinforcement Learning 
    5. Deep Learning 
    6. Deep Reinforcement Learning 
    6. NLP

#### Training and Testing 

        Height --> 5.2  weight --> 60
                    6              70
                   6.1             59
                   6.2             70
                   
                   
        Split our data into training and testing 
        Model --> Train (data)
                Input     Output
               
                Height --> 5.2  weight --> 60
                            6              70
                
                      Test
               Input     Output
               Height         Weight
                6.1             59
                6.2             70
                
                
                
              Input --> X  ---> train, test
              Output --> Y --> train, test
              
              
              Categorial Data
                  Fraud Detection --> Yes No
                  
                  Training --> 100%--> yes 
                  Testing --> 100% --> no
                  
                  Biased problem

In [5]:
import numpy as np
import pandas as pd

In [6]:
pd.Series(np.random.choice(['Yes', 'No'], 100)).value_counts()
# Yes --> 59%
# No --> 41%

Yes    59
No     41
dtype: int64

### Supervised Learning 

    Data --> Labeled
            Input --> Output (Labeled)
            
            Input    Output
            Marks    Result
             34

In [9]:
data = pd.read_excel("G:/Prestige_workshop/batch_1/Python_Mock_Test(1-280).xlsx")

In [10]:
data.head()

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,Please fill your full name?,Points - Please fill your full name?,Feedback - Please fill your full name?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,1,2021-07-02 21:51:56,2021-07-02 21:52:13,anonymous,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2,2021-07-03 14:13:47,2021-07-03 14:18:16,anonymous,NaN,9,NaN,Vishal thakur,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,3,2021-07-03 14:18:11,2021-07-03 14:23:05,anonymous,NaN,14,NaN,Nikita prajapati,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,4,2021-07-03 14:19:02,2021-07-03 14:23:40,anonymous,NaN,14,NaN,ansh,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,5,2021-07-03 14:14:44,2021-07-03 14:26:08,anonymous,NaN,9,NaN,Krishna garare,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN

In [11]:
data.shape

(280, 112)

In [19]:
data[' What should be replace in blank space to get output as 33?\n\nnames1 = [\'Amir\', \'Bear\', \'Charlton\', \'Daman\']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = \'Alice\'\nnames3[1] = \'Bob\'\n\nsum = 0\nfor ls i...']

0            NaN
1      elif else
2      elif else
3        if else
4        if else
         ...
275      if elif
276      if else
277        if if
278        if if
279      if elif
Name:  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i..., Length: 280, dtype: object

In [20]:
# the students who gave ans if if (they should get 3 points)

### You need to find top 5 scorers name

### Supervised Learning 

    Data --> Labeled
            Input --> Output (Labeled)
            
            Input    Output
            Marks    Result
             
             35       Fail
             50       Pass
             55       Pass
             40       Fail
             39       Fail
             
    1. Regression
    2. Classification
        Algorithms for categorial data
    3. Recommendation
    
    
### Unsupervised Learning 

        Unlabeled data
        
            1. DR
                30 --> columns 
                to 3 columns 
            2. Clustering 
            etc. 
         
### Semi-Supervised Learning
    
        Labeled and unlabeled data 
        Train --> labeled data
        Test --> Unlabeled data
        
### Reinforcement Learning 
    
        Punishment and reward 
        
        Q-learning 
        
### Deep Learning 
        
        NN
    
### NLP

    Natural Language Processing

### Steps of ML

    
    1. Data Collection
    2. Data Preprocessing 
    3. EDA (Exploratory Data Analysis)
    4. Split Data Into Training and Testing 
    5. Model Selection 
    6. Model Evaluation
    7. Model Deployment
    
        Model --> File --> File(read) to use

    INPUT --> Features
    OUTPUT --> Target 
    
        Target --> 0(No) and 1(Yes)
        Features --> Age, BMI, BP, weight etc

In [1]:
import pandas as pd

In [10]:
from sklearn.linear_model import LogisticRegression

In [17]:
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score

In [11]:
algo = LogisticRegression()
iris = load_iris()

In [6]:
type(iris)

sklearn.utils.Bunch

In [13]:
feature = iris['data'] # features or input

In [12]:
target = iris['target']

In [14]:
algo.fit(feature, target)  # training

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
pred = algo.predict(feature) # it will predict the target or output
# right now I am testing with the I have trained with

In [18]:
accuracy_score(target, pred)
# target --> actual ans

0.9733333333333334

In [19]:
target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])