In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    "Name" : ['shagun', 'rishi', 'yogesh', 'aman', 'arnav', 'aarav', 'ashish', 'anjali', 'anju'],
    "Height" : np.random.randint(150, 170, 9),
    "Weight" : np.random.randint(50, 80, 9),
    "Gender" : pd.Categorical(['F', 'M', 'M', "M", 'M', "M", "M", "F", "F"])
})

In [3]:
df

     Name  Height  Weight Gender
0  shagun     159      59      F
1   rishi     155      66      M
2  yogesh     151      58      M
3    aman     160      60      M
4   arnav     168      66      M
5   aarav     151      65      M
6  ashish     169      51      M
7  anjali     163      71      F
8    anju     162      75      F

In [4]:
df.iloc[1, 1]

155

In [6]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [7]:
df.loc[2]

Name      yogesh
Height       151
Weight        58
Gender         M
Name: 2, dtype: object

In [8]:
df.loc[2, 2]

KeyError: 2

In [9]:
df.loc[2, "Height"]

151

In [10]:
df.loc[2, "Name":"Height"]

Name      yogesh
Height       151
Name: 2, dtype: object

In [11]:
df.loc[2, "Name":"Weight"]

Name      yogesh
Height       151
Weight        58
Name: 2, dtype: object

In [12]:
df.loc[:, "Name":"Weight"]

     Name  Height  Weight
0  shagun     159      59
1   rishi     155      66
2  yogesh     151      58
3    aman     160      60
4   arnav     168      66
5   aarav     151      65
6  ashish     169      51
7  anjali     163      71
8    anju     162      75

In [13]:
df.loc[2:6, ["Name","Gender"]]

     Name Gender
2  yogesh      M
3    aman      M
4   arnav      M
5   aarav      M
6  ashish      M

In [14]:
df

     Name  Height  Weight Gender
0  shagun     159      59      F
1   rishi     155      66      M
2  yogesh     151      58      M
3    aman     160      60      M
4   arnav     168      66      M
5   aarav     151      65      M
6  ashish     169      51      M
7  anjali     163      71      F
8    anju     162      75      F

In [16]:
pd.date_range("20210116", periods=12)

DatetimeIndex(['2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19',
               '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23',
               '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range("20210116", periods=12, freq="M")

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [18]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs) -> pandas.core.indexes.datetimes.DatetimeIndex
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : int, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    DatetimeIndex : An immutable container for datetimes.
    timedelta_range : Return a fixed frequency TimedeltaIndex.
    period_range : Return a fixed frequency PeriodIndex.
    interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range(start="20200116", end="20200130")

DatetimeIndex(['2020-01-16', '2020-01-17', '2020-01-18', '2020-01-19',
               '2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29', '2020-01-30'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range("20210116", periods=12, freq="H")

DatetimeIndex(['2021-01-16 00:00:00', '2021-01-16 01:00:00',
               '2021-01-16 02:00:00', '2021-01-16 03:00:00',
               '2021-01-16 04:00:00', '2021-01-16 05:00:00',
               '2021-01-16 06:00:00', '2021-01-16 07:00:00',
               '2021-01-16 08:00:00', '2021-01-16 09:00:00',
               '2021-01-16 10:00:00', '2021-01-16 11:00:00'],
              dtype='datetime64[ns]', freq='H')

In [21]:
pd.date_range("20210116", periods=12, freq="m")

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range("20210116", periods=12, freq="S")

DatetimeIndex(['2021-01-16 00:00:00', '2021-01-16 00:00:01',
               '2021-01-16 00:00:02', '2021-01-16 00:00:03',
               '2021-01-16 00:00:04', '2021-01-16 00:00:05',
               '2021-01-16 00:00:06', '2021-01-16 00:00:07',
               '2021-01-16 00:00:08', '2021-01-16 00:00:09',
               '2021-01-16 00:00:10', '2021-01-16 00:00:11'],
              dtype='datetime64[ns]', freq='S')

In [24]:
pd.date_range("20210116", periods=12, freq="Min")

DatetimeIndex(['2021-01-16 00:00:00', '2021-01-16 00:01:00',
               '2021-01-16 00:02:00', '2021-01-16 00:03:00',
               '2021-01-16 00:04:00', '2021-01-16 00:05:00',
               '2021-01-16 00:06:00', '2021-01-16 00:07:00',
               '2021-01-16 00:08:00', '2021-01-16 00:09:00',
               '2021-01-16 00:10:00', '2021-01-16 00:11:00'],
              dtype='datetime64[ns]', freq='T')

In [25]:
pd.date_range("20210116", periods=12, freq="2T")

DatetimeIndex(['2021-01-16 00:00:00', '2021-01-16 00:02:00',
               '2021-01-16 00:04:00', '2021-01-16 00:06:00',
               '2021-01-16 00:08:00', '2021-01-16 00:10:00',
               '2021-01-16 00:12:00', '2021-01-16 00:14:00',
               '2021-01-16 00:16:00', '2021-01-16 00:18:00',
               '2021-01-16 00:20:00', '2021-01-16 00:22:00'],
              dtype='datetime64[ns]', freq='2T')

In [26]:
pd.date_range("20210116", periods=12, freq="2M")

DatetimeIndex(['2021-01-31', '2021-03-31', '2021-05-31', '2021-07-31',
               '2021-09-30', '2021-11-30', '2022-01-31', '2022-03-31',
               '2022-05-31', '2022-07-31', '2022-09-30', '2022-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [28]:
pd.date_range("20210116", periods=12, freq="2D")

DatetimeIndex(['2021-01-16', '2021-01-18', '2021-01-20', '2021-01-22',
               '2021-01-24', '2021-01-26', '2021-01-28', '2021-01-30',
               '2021-02-01', '2021-02-03', '2021-02-05', '2021-02-07'],
              dtype='datetime64[ns]', freq='2D')

In [29]:
df

     Name  Height  Weight Gender
0  shagun     159      59      F
1   rishi     155      66      M
2  yogesh     151      58      M
3    aman     160      60      M
4   arnav     168      66      M
5   aarav     151      65      M
6  ashish     169      51      M
7  anjali     163      71      F
8    anju     162      75      F

In [31]:
df.index = pd.date_range("20210410", periods=9)

In [32]:
df

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [33]:
df.index

DatetimeIndex(['2021-04-10', '2021-04-11', '2021-04-12', '2021-04-13',
               '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-17',
               '2021-04-18'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df.index[0]

Timestamp('2021-04-10 00:00:00', freq='D')

In [35]:
for i in df.index:
    print(i.split("-"))

AttributeError: 'Timestamp' object has no attribute 'split'

In [36]:
for i in df.index:
    print(i)

2021-04-10 00:00:00
2021-04-11 00:00:00
2021-04-12 00:00:00
2021-04-13 00:00:00
2021-04-14 00:00:00
2021-04-15 00:00:00
2021-04-16 00:00:00
2021-04-17 00:00:00
2021-04-18 00:00:00

In [37]:
df

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [38]:
# 02 --> 29 , 02 --> 28

In [39]:
df.loc[2]

KeyError: 2

In [40]:
df.loc['2021-04-11']

Name      rishi
Height      155
Weight       66
Gender        M
Name: 2021-04-11 00:00:00, dtype: object

In [44]:
df.loc['2021-04-17', 'Name']

'anjali'

In [46]:
df.loc['2021-04-11':'2021-04-07':-1]

              Name  Height  Weight Gender
2021-04-11   rishi     155      66      M
2021-04-10  shagun     159      59      F

In [47]:
df

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [54]:
df.loc['04-10']

KeyError: '04-10'

In [56]:
df.index

DatetimeIndex(['2021-04-10', '2021-04-11', '2021-04-12', '2021-04-13',
               '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-17',
               '2021-04-18'],
              dtype='datetime64[ns]', freq='D')

In [59]:
df.index[0].strftime("%d/%m/%y")

'10/04/21'

In [61]:
pd.Series(df.index).apply(lambda x : x.strftime("%d/%m/%y"))

0    10/04/21
1    11/04/21
2    12/04/21
3    13/04/21
4    14/04/21
5    15/04/21
6    16/04/21
7    17/04/21
8    18/04/21
dtype: object

In [67]:
(df.index.strftime("%m-%d-%y"))

Index(['04-10-21', '04-11-21', '04-12-21', '04-13-21', '04-14-21', '04-15-21',
       '04-16-21', '04-17-21', '04-18-21'],
      dtype='object')

In [69]:
df.loc[['2021-04-11', '2021-04-17'], ['Name', 'Height']]

              Name  Height
2021-04-11   rishi     155
2021-04-17  anjali     163

In [70]:
df.loc[::-1, ::-1]

           Gender  Weight  Height    Name
2021-04-18      F      75     162    anju
2021-04-17      F      71     163  anjali
2021-04-16      M      51     169  ashish
2021-04-15      M      65     151   aarav
2021-04-14      M      66     168   arnav
2021-04-13      M      60     160    aman
2021-04-12      M      58     151  yogesh
2021-04-11      M      66     155   rishi
2021-04-10      F      59     159  shagun

In [71]:
df.loc['2021-04-10':'2021-04-16':2]

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-12  yogesh     151      58      M
2021-04-14   arnav     168      66      M
2021-04-16  ashish     169      51      M

#### at
    df.at[row_label, col_label]
    
        does not support slicing but take less time than loc
   
#### iat
    df.iat[row_index, col_index]
        
         does not support slicing but take less time than iloc

In [72]:
df.at['2021-04-11', 'Height']

155

In [75]:
df.loc['2021-04-11':'2021-04-16', 'Height']

2021-04-11    155
2021-04-12    151
2021-04-13    160
2021-04-14    168
2021-04-15    151
2021-04-16    169
Freq: D, Name: Height, dtype: int32

In [74]:
df.at['2021-04-11':'2021-04-16', 'Height']

TypeError: 'slice('2021-04-11', '2021-04-16', None)' is an invalid key

In [76]:
%%timeit

df.at['2021-04-11', 'Height']

385 µs ± 103 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [77]:
%%timeit

df.loc['2021-04-11', 'Height']

1.13 ms ± 34.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [78]:
df.iat[1, 1]

155

In [79]:
df.iloc[1, 1]

155

In [80]:
df.iat[::-1]

ValueError: iAt based indexing can only have integer indexers

In [81]:
df.iloc[::-1]

              Name  Height  Weight Gender
2021-04-18    anju     162      75      F
2021-04-17  anjali     163      71      F
2021-04-16  ashish     169      51      M
2021-04-15   aarav     151      65      M
2021-04-14   arnav     168      66      M
2021-04-13    aman     160      60      M
2021-04-12  yogesh     151      58      M
2021-04-11   rishi     155      66      M
2021-04-10  shagun     159      59      F

In [82]:
%%timeit

df.iat[2, 2]

46.9 µs ± 5.65 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [83]:
%%timeit

df.iloc[2, 2]

50.1 µs ± 1.06 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [84]:
df.head()  # starting 5 rows

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M

In [85]:
df.head(10)  # for starting 10 rows

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [86]:
df.tail(5)  # last 2 rows

              Name  Height  Weight Gender
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [87]:
df.tail(7)

              Name  Height  Weight Gender
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [88]:
df['Height'].value_counts()

151    2
159    1
155    1
169    1
168    1
163    1
162    1
160    1
Name: Height, dtype: int64

In [89]:
df

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-11   rishi     155      66      M
2021-04-12  yogesh     151      58      M
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-15   aarav     151      65      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [92]:
# name of students having height > 155
df[df['Height'] > 155]['Name']

2021-04-10    shagun
2021-04-13      aman
2021-04-14     arnav
2021-04-16    ashish
2021-04-17    anjali
2021-04-18      anju
Name: Name, dtype: object

In [94]:
df[(df['Height'] > 155) & (df['Weight']>70)]

              Name  Height  Weight Gender
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [95]:
df[(df['Height'] > 155) | (df['Weight']>70)]

              Name  Height  Weight Gender
2021-04-10  shagun     159      59      F
2021-04-13    aman     160      60      M
2021-04-14   arnav     168      66      M
2021-04-16  ashish     169      51      M
2021-04-17  anjali     163      71      F
2021-04-18    anju     162      75      F

In [96]:
df[(df['Height'] > 155) | (df['Weight']>70)]['Height']

2021-04-10    159
2021-04-13    160
2021-04-14    168
2021-04-16    169
2021-04-17    163
2021-04-18    162
Name: Height, dtype: int32

In [97]:
df[(df['Height'] > 155) | (df['Weight']>70)][['Height', 'Weight']]

            Height  Weight
2021-04-10     159      59
2021-04-13     160      60
2021-04-14     168      66
2021-04-16     169      51
2021-04-17     163      71
2021-04-18     162      75

    {
        "name" : "simran"
    }
    {
        "age" : 20,
        "subject" : "python"
    }
    
    <table>
        <name>Simran</name>
        <id>1</id>
    </table>

In [100]:
import seaborn as sns

In [102]:
tips = sns.load_dataset("tips")

In [103]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [104]:
#### make 5 questions each from this dataset