### Data Science

         Science --> Its all about data
    Data Mining
        Data Collection
        Data Preprocessing
    Data Analysis
        Stats
    Data Visualization
    Data Warehousing (SQL)
    Machine Learning
    Big Data Hadoop

### Data Mining

    Data Collection
        Door to Door Survyes
        Online Medium 
            Platforms like kaggle, github, govt repo
            API
            Web Scraping
    
    Data Preprocessing
        Data Cleaning
        Outliers
        
        
        
    ID       Name       Course     Trainer     Rating      Feedback
            
    1        aayush      python     samyak       4          Average
    2        ritwik      python     samyak       3.5        Okay okay was not satisfied
    3        shalini       ds       simran        2         Very bad trainer
    4        None          None       None        5          Very Good trainers and everything
    5        Shubh       ML         simran       None         None
    6        mudit       ML         None          None          None

In [1]:
import seaborn as sns

In [3]:
data = sns.load_dataset("titanic")

In [5]:
data[:5]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### Data Analysis

    Tools to gather important information
        Past data --> present use

In [6]:
tip = sns.load_dataset("tips")

In [7]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tip.shape

(244, 7)

In [1]:
### Which type of people are coming more smokers or non smokers
### Check type of size coming more then we can increase their seatings accordingly
### Which day and which time
### How many people are giving more tip among Male and female and increase the seat give discount
### Offers on less days 
### Check Size and if family comes less then offer for them
### Give dis on the basis of bill
### give facilities for children
### give smokers are less than remove smoking area
### Have home delivery option by finding the day and time where less number of people come

In [9]:
%%writefile pattern.py
"""
    This file is for pattern making
"""
def pattern(num):
    """
        This function takes a number as an argument print a pattern with n rows.
    """
    for i in range(1, num):
        if i in [1, num-1]:
            print('*' * (num - 1))
            continue
        for j in range(1, num):
            if (i == j) or (i + j == num):
                print('*', end= '')
            elif j in [1, num-1]:
                print('*', end='')
            else:
                print(' ', end= '')
        print()

pattern(10)

Overwriting pattern.py

In [2]:
i = 10

In [3]:
"*"*i

'**********'

#### Data Visualization
    
        Representing data through graphs or analysing data through graphs

#### Data Warehousing
        Data Storing --> database, files

#### Big Data Hadoop

    Linux --> opensource
    For big data we use hadoop

### Machine Learning

    It is process in which machine imporves the performance P for a task T by its experience E

    1. curiosity
    2. story telling

    pep --> python enchancement proporsal